html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  width: 100%;

  background-color: #1f1f1f !important;
  color: rgba(255, 255, 255, .87) !important;

  font-family: Roboto, sans-serif !important;

  display: grid;

  z-index: -10;
}

.main {
  margin: auto;

  height: 95%;
  width: 95%;

  background-color: #3f3f3f;

  border-radius: 5px;

  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.header {
  width: 100%;
  height: 30px;

  background-color: #5f5f5f;

  border-radius: 5px 5px 0px 0px;

  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, .5);

  z-index: 100;
}

.title {
  margin: 0;

  padding-left: 5px;
  padding-top: 2.5px;

  font-weight: 400;

  font-size: 24px;
}


#main-form {
  padding: 15px;
}

.mdc-switch + label {
  font-size: 16px;
  margin-left: 5px;

  cursor: pointer;

  position: relative;

  top: -3.5px;
}

.mdc-switch {
  margin: 3.5px 1px !important;
}

.mdc-switch__thumb-underlay.mdc-ripple-upgraded {
  height: 20px;
  margin-top: 15px;
}

.mdc-switch__native-control {
  height: 20px !important;
  width: 35px !important;
  margin-left: 17px !important;
}

.mdc-switch__ripple-container {
  width: 24px !important;
  height: 24px !important;

  margin: 12px 0px 0px 12px;
}

.modal-content {
  background-color: rgba(66, 66, 66, 0.95) !important;
  color: #f1f1f1 !important;

  padding-left: 1rem;
  padding-top: 1rem;
  padding-right: 1rem;
}

.modal-header {
  color: #f1f1f1 !important;

  background-color: rgba(50, 50, 50, 0.95) !important;

  border-bottom: 1px solid rgba(0, 0, 0, 0.5) !important;
}

.close {
  color: white !important;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

button:focus {
  outline: none !important;
}

.mdc-icon-button:hover {
  color: #6200ee;
}

hr {
  margin-top: 0 !important;
  margin-bottom: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0) !important;

  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.lang-select {
  width: 50%;
}

.quality-select, .hoster-select {
  width: 130px;

  float: right;
}

.hoster-select {
  margin-right: 25px;
}

.switch-container {
  float: right;
  margin-top: 15px;

  margin-right: 25px;
}

.loading {
  margin: auto;
  display: none;
}

.loadingTime {
  display: none;
  position: absolute;

  bottom: 10px;

  width: 100%;

  text-align: center;

  left: 0;

  z-index: 5;
}

#loadingText-parent {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#loadingText {
  width: 70%;

  text-align: center;

  height: 1px;

  /*position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  z-index: 5;
}

.status {
  position: absolute;

  bottom: 6%;

  left: calc(2.5% + 10px);

  font-size: 22px;
}
.status-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33px;
}

.status-icon {
  font-size: 36px;

  cursor: default;
}

.status-text {
  left: 40px;
}

#onlineStatus, #offlineStatus {
  position: relative;
}

#onlineStatus {
  display: none;

  color: #4CAF50;
}

#offlineStatus {
  color: #F44336;
}

#translateButton {
  display: none;

  left: 10px;
  bottom: 10px;
  width: 152px;
  height: 52px;
}

#translateButtonLabel {
  font-size: 20px;
}

.slider-label-container {
  text-align: center;
}

.slider-label {
  display: inline-block;
}

#details-text {
  display: none;

  position: absolute;

  padding: 5px;

  top: 4px;
  left: 0;

  z-index: 1;
  opacity: 0.5;
  font-size: 0.75em;

  overflow: hidden;

  height: calc(100% - 4px);
  width: 100%;

  margin: 0 !important;

  color: #ffffff;
  background-color: transparent;
}

.sub-options {
  display: inline;
}

@media only screen and (min-width: 900px) {
  .mdc-dialog__surface {
    max-width: 800px !important;
  }
}

@media only screen and (max-width: 900px) {
  .lang-select {
    width: 100%;
  }

  .quality-select {
    margin-right: 0;
  }

  .sub-options {
    display: block;

    margin-top: 25px;
    margin-bottom: 30px;
  }

  .switch-container {
    float: left;

    margin-right: 0px;
  }
}

@media only screen and (max-width: 400px) {
  #translateButton {
    height: 36px;
    width: auto;
  }

  #translateButtonLabel {
    font-size: .875rem;
  }

  .status {
    left: calc(2.5% + 110px + 30px);

    bottom: 5%;
  }
}

@media only screen and (max-width: 450px) {
  .hoster-select {
    margin-right: 0;
    clear: both;
  }

  .sub-options {
    margin-bottom: 120px;
  }

  .hoster-select {
    margin-top: 25px;
  }

  .switch-container {
    margin-top: 0px;
  }
}

.mdc-linear-progress {
  position: absolute !important;

  left: 0;
  top: 0;
  z-index: 100;
}

.mdc-linear-progress__buffer {
  background: linear-gradient(to right, #86377b 20%, #27273c 80%) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled), .mdc-select:not(.mdc-select--disabled) {
  background-color: #2f2f2f !important;
}

.mdc-select__dropdown-icon {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23fff%22%20fill-rule%3D%22evenodd%22%20opacity%3D%220.7%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center !important;
}

option {
  background-color: #1f1f1f;
  color: #fff;
}


option:disabled {
  color: #999999;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
  color: rgba(255, 255, 255, 0.8);
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input,.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control, .mdc-select:not(.mdc-select--disabled) .mdc-select__selected-text {
  color: rgba(255, 255, 255, 0.9) !important;
}

h6 {
  font-size: 1rem;
}

h5 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.75rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

/* Loading screen background styling */

canvas {
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;

  background-color: transparent;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 105%;
    bottom: -1px;
    background-image: linear-gradient(to top, #86377b 20%, #27273c 80%);
}
.bgTop {
    z-index: 3;
    opacity: 0.3;
}
.bgMiddle {
    z-index: 2;
    opacity: 0.4;
}
.bgBottom {
    z-index: 1;

    opacity: 0.5;
}

.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 105%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
